<p>{{ object }}</p>
	<ul>
		{% for image in object.productimage_set.all %}
			{% if image.image.url %}
				<li>{{ image }}</li>
				<img height="50px" width="50px" src="{{ image.image.url }}">
				<p>{{ product.sale_price }}</p>
			{% endif %}
		{% endfor %}
	</ul>