<ol>
{% for product in object_list %}
	
		<li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
			<ul>
				{% for image in product.productimage_set.all %}
					{% if image.image.url %}
						<li>{{ image }}</li>
						<img height="50px" width="50px" src="{{ image.image.url }}">
						<p>{{ product.sale_price }}</p>
					{% endif %}
				{% endfor %}
			</ul>
			<br>
	
{% endfor %}
</ol>