<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %} {% endblock %}</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" media="all"/>
	{% block style %} {% endblock %}

</head>
<body>
	<div class="wrap">
		<div id="header">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="top-support">
								<ul class="list-inline">
									<li><a href="#" class="top-support-link">Help </a></li>
									<li><a href="#" class="top-support-link">Services</a></li>
									<li><a href="#" class="top-support-link">USD</a></li>
									<li><a href="#" class="top-support-link"><img src="{% static 'images/home12/icon-flag.png' %}" alt="" /></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="top-info">
								<ul class="list-inline text-right">
									<li><a href="#" class="top-info-link"><i class="fa fa-user"></i> My Account</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-heart"></i> Wishlist</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-refresh"></i> Compare</a></li>
									<li><a href="#" class="top-info-link"><i class="fa fa-sign-out"></i> Check out</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="logo">
								<a href="{% url 'products:home' %}"><h2 style="color:#fff;">FabulousD</h2></a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="phone-info">
								<label>Call Us Now</label>
								<h2 class="phone-number">Toll free : +2348186737195</h2>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="top-cart">
								<h2><a href="{% url 'carts:cart_view' %}">shopping Cart</a></h2>
								<p>{{ request.session.items_total }} Item(s) - ${{ request.session.total_price }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="main-nav">
								<ul>
									<li><a href="{% url 'products:home' %}">Home </a></li>
									<li class="menu-item-has-children"><a href="">Mens</a></li>
									<li class="menu-item-has-children"><a href="">Womens</a></li>
									<li class="menu-item-has-children"><a href="">Kids</a></li>
									<li class="menu-item-has-children"><a href="">Accessories</a></li>
									<li><a href="{% url 'products:product_list' %}">Products</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<form class="navbar-form" role="search" action='/s/'>
								<div class='form-group'>
									<input type="text" class="form-control" name="q" placeholder="Enter your keyword...">
									<button type="submit" class="btn btn-default">Search</button>
								</div>
							</form>
							<!-- <div class="search-form search-form2">

								<input type="text" value="Enter your keyword..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" />
								<input type="submit" value="" />
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header -->
		{% block content %}
		

		{% endblock %}
		<div id="footer">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="left-footer">
								<div class="logo-footer">
									<h2>FabulousD</h2>
								</div>
								<div class="contact-footer">
									<h2 class="title-footer">Contact Us</h2>
									<p><i class="fa fa-home"></i> Our business address is 9th floor, Eleganza Plaza, off Adeyemo Alakija street, Victoria Island, Lagos State.</p>
									<p><i class="fa fa-tablet"></i> + 234 818 6737 195</p>
									<p><i class="fa fa-envelope"></i> support@fabulousd.com</p>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="right-footer">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<h2 class="title-footer">Connect with Us</h2>
										<div class="social-footer">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-youtube"></i></a></li>
												<li><a href="#"><i class="fa fa-share-alt"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<h2 class="title-footer">Newsletter</h2>
										<div class="news-letter-form">
											<form>
												<input type="text" value="Enter your Email..." onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" />
												<input type="submit" value="Subscribe" />
											</form>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">My account</h2>
											<ul class="menu-footer-default">
												<li><a href="#">My orders</a></li>
												<li><a href="#">My credit slips</a></li>
												<li><a href="#">My addresses</a></li>
												<li><a href="#">My personal info</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">INFORMATION</h2>
											<ul class="menu-footer-default">
												<li><a href="#">About Us</a></li>
												<li><a href="#">Terms of Use</a></li>
												<li><a href="#">Club Info and FAQ's</a></li>
												<li><a href="#">Privacy Policy</a></li>
												<li><a href="#">Contact Us</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-4 colsm-4 col-xs-12">
										<div class="box-footer-menu">
											<h2 class="title-footer">Customer Service</h2>
											<ul class="menu-footer-default">
												<li><a href="#">Ask in forum</a></li>
												<li><a href="#">Help Desk</a></li>
												<li><a href="#">Payment Methods</a></li>
												<li><a href="#">Custom Work</a></li>
												<li><a href="#">Promotions</a></li>
											</ul>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-12">
											<div class="payment-method">
												<ul class="list-inline text-right">
													<li><a href="#"><img src="{% static 'images/home12/payment1.png' %}" alt="" /></a></li>
													<li><a href="#"><img src="{% static 'images/home12/payment2.png' %}" alt="" /></a></li>
													<li><a href="#"><img src="{% static 'images/home12/payment3.png' %}" alt="" /></a></li>
													<li><a href="#"><img src="{% static 'images/home12/payment4.png' %}" alt="" /></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- End Footer -->
	</div>
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.hoverdir.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.jcarousellite.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
	{% block js %} {% endblock %}
</body>
</html>