{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title }} | FabulousD{% endblock %}


{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" media="all"/>
{% endblock %}

{% block content %}
		<div id="content">
			<!-- End Banner Advert -->
			<div class="product-tab-slider">
				<div class="container">
					<div class="title-tab-slider">
						<ul role="tablist" class="nav nav-tabs">
							<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="bestsale" href="#bestsale">best sellers</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="newarrival" href="#newarrival">New arrivals</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="featured" href="#featured">Featured</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="bestsale">
							<div class="content-tab-product single-arrow">
								<div class="wrap-item">
									{% for item in object_list %}
										{% if item.is_best_seller %}
											<div class="item">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														{% if item.productimage_set.all.first.image.url %}
															<a href="{{ item.get_absolute_url }}">
															<div style="height: 250px; width: 180px;
															background-image: url('{{ item.productimage_set.all.first.image.url }}');
															background-repeat: no-repeat;
															background-size: cover;
															background-position: center" > 
																
															</div>
															<!-- <img alt="" src="{{ item.productimage_set.all.first.image.url }}"> -->
															</a>
														{% endif %}
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
														<div class="info-product-price">
															<span>${{ item.sale_price }}</span> <del>${{ item.price }}</del>
														</div>
														<div class="info-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="order-number">
															<span>15 order</span>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									{% endfor %}
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab2.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab3.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="newarrival">
							<div class="content-tab-product single-arrow">
								<div class="wrap-item">
									{% for item in object_list %}
										{% if item.is_new_arrival %}
											<div class="item">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														{% if item.productimage_set.all.first.image.url %}
															<a href="{{ item.get_absolute_url }}">
																<div style="height: 250px; width: 180px;
																background-image: url('{{ item.productimage_set.all.first.image.url }}');
																background-repeat: no-repeat;
																background-size: cover;
																background-position: center;
																margin: 0 auto;"  > 
																	
																</div>
																<!-- <img alt="" src="{{ item.productimage_set.all.first.image.url }}"> -->
															</a>
														{% endif %}
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
														<div class="info-product-price">
															<span>${{ item.sale_price }}</span> <del>${{ item.price }}</del>
														</div>
														<div class="info-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="order-number">
															<span>15 order</span>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									{% endfor %}
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab4.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab3.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="featured">
							<div class="content-tab-product single-arrow">
								<div class="wrap-item">
									{% for item in object_list %}
										{% if item.is_featured %}
											<div class="item">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														{% if item.productimage_set.all.first.image.url %}
															<a href="{{ item.get_absolute_url }}">
															<div style="height: 250px; width: 180px;
															background-image: url('{{ item.productimage_set.all.first.image.url }}');
															background-repeat: no-repeat;
															background-size: cover;
															background-position: center" > 
																
															</div>
															<!-- <img alt="" src="{{ item.productimage_set.all.first.image.url }}"> --></a>
														{% endif %}
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
														<div class="info-product-price">
															<span>${{ item.sale_price }}</span> <del>${{ item.price }}</del>
														</div>
														<div class="info-rating">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="order-number">
															<span>15 order</span>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									{% endfor %}
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab2.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="item-product product-lower">
											<div class="item-product-thumb">
												<a href="#"><img alt="" src="{% static 'images/home4/tab1.png' %}"></a>
											</div>
											<div class="item-product-info">
												<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span> <del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Product Tab Slider -->
			<div class="category-tab-slider">
				<div class="container">
					<div class="inner-category-tab-slider">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="sidebar-category-tab">
									<h2 class="title-category-tab">men’s</h2>
									<div class="clearfix">
										<div class="brand-cat-slider five-item">
											<div class="vertical-slider">
												<ul>
													<li>
														<a href="#"><img src="{% static 'images/home4/lg1.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/lg2.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/lg3.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/lg4.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/lg5.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/brand-01.jpg' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/brand-04.jpg' %}" alt="" /></a>
													</li>
												</ul>
											</div>
											<div class="jcaroul-control-nav">
												<a class="prev" href="#">prev</a>
												<a class="next" href="#">next</a>
											</div>
										</div>
										<div class="list-title-tab-category">
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="active"><a href="#men1" aria-controls="men1" role="tab" data-toggle="tab">Tóp & Blouses</a></li>
												<li role="presentation"><a href="#men2" aria-controls="men2" role="tab" data-toggle="tab">Pants & Denim</a></li>
												<li role="presentation"><a href="#men3" aria-controls="men3" role="tab" data-toggle="tab">Dresses & Skirts</a></li>
												<li role="presentation"><a href="#men4" aria-controls="men4" role="tab" data-toggle="tab">Eyewear</a></li>
												<li role="presentation"><a href="#men5" aria-controls="men4" role="tab" data-toggle="tab">Jewelry</a></li>
												<li role="presentation"><a href="#men6" aria-controls="men4" role="tab" data-toggle="tab">Shoes</a></li>
												<li role="presentation"><a href="#men7" aria-controls="men4" role="tab" data-toggle="tab">Bags & Luggage</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-12">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="men1">
										<div class="category-tab-content clearfix">
											<div class="category-tab-main">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/lead1.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
													<div class="product-extra-link">
														<a class="link-add-to-cart" href="#">Add To Cart</a>
														<a class="link-compare" href="#"><i class="fa fa-external-link-square"></i></a>
														<a class="link-wishlist" href="#"><i class="fa fa-heart"></i></a>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p1.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p2.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p3.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p4.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="men2">
										<div class="category-tab-content clearfix">
											<div class="category-tab-main">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/lead1.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
													<div class="product-extra-link">
														<a class="link-add-to-cart" href="#">Add To Cart</a>
														<a class="link-compare" href="#"><i class="fa fa-external-link-square"></i></a>
														<a class="link-wishlist" href="#"><i class="fa fa-heart"></i></a>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p4.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p3.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p2.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p1.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="men3"></div>
									<div role="tabpanel" class="tab-pane" id="men4"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Category Tab Slider -->
			<div class="category-tab-slider">
				<div class="container">
					<div class="inner-category-tab-slider">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="sidebar-category-tab">
									<h2 class="title-category-tab">women’s</h2>
									<div class="clearfix">
										<div class="brand-cat-slider four-item">
											<div class="vertical-slider">
												<ul>
													<li>
														<a href="#"><img src="{% static 'images/home4/cate-women.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/hat.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/short.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/shoes.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/cate-women.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/hat.png' %}" alt="" /></a>
													</li>
													<li>
														<a href="#"><img src="{% static 'images/home4/short.png' %}" alt="" /></a>
													</li>
												</ul>
											</div>
											<div class="jcaroul-control-nav">
												<a class="prev" href="#">prev</a>
												<a class="next" href="#">next</a>
											</div>
										</div>
										<div class="list-title-tab-category">
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="active"><a href="#women1" aria-controls="women1" role="tab" data-toggle="tab">Tóp & Blouses</a></li>
												<li role="presentation"><a href="#women2" aria-controls="women2" role="tab" data-toggle="tab">Pants & Denim</a></li>
												<li role="presentation"><a href="#women3" aria-controls="women3" role="tab" data-toggle="tab">Dresses & Skirts</a></li>
												<li role="presentation"><a href="#women4" aria-controls="women4" role="tab" data-toggle="tab">Eyewear</a></li>
												<li role="presentation"><a href="#women5" aria-controls="women4" role="tab" data-toggle="tab">Jewelry</a></li>
												<li role="presentation"><a href="#women6" aria-controls="women4" role="tab" data-toggle="tab">Shoes</a></li>
												<li role="presentation"><a href="#women7" aria-controls="women4" role="tab" data-toggle="tab">Bags & Luggage</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-12">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="women1">
										<div class="category-tab-content clearfix">
											<div class="category-tab-main">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/lead2.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
													<div class="product-extra-link">
														<a class="link-add-to-cart" href="#">Add To Cart</a>
														<a class="link-compare" href="#"><i class="fa fa-external-link-square"></i></a>
														<a class="link-wishlist" href="#"><i class="fa fa-heart"></i></a>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p5.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p6.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p7.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p8.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="women2">
										<div class="category-tab-content clearfix">
											<div class="category-tab-main">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/lead2.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
													<div class="product-extra-link">
														<a class="link-add-to-cart" href="#">Add To Cart</a>
														<a class="link-compare" href="#"><i class="fa fa-external-link-square"></i></a>
														<a class="link-wishlist" href="#"><i class="fa fa-heart"></i></a>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p8.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p7.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p6.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
											<div class="category-tab-single">
												<div class="item-product product-lower">
													<div class="item-product-thumb">
														<a href="#"><img alt="" src="{% static 'images/home4/p5.png' %}"></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="women3"></div>
									<div role="tabpanel" class="tab-pane" id="women4"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Category Tab Slider -->
			<div class="shop-the-look">
				<div class="shop-the-look-banner">
					<div class="container">
						<div class="shop-the-look-banner-text">
							<h2>Shop The Look</h2>
							<h4>Lorem ipsum dolor amet consectetur</h4>
							<a href="#" class="shop-here">Shop Here</a>
						</div>
					</div>
				</div>
				<div class="shop-the-look-post">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b1.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b2.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b3.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b4.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b5.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b6.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b7.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<div class="item-shop-the-look-post">
									<div class="inner-item-shop-post">
										<img src="{% static 'images/home4/b8.png' %}" alt="" />
										<div class="item-shop-post-text">
											<h2>Collection Me’n</h2>
											<a href="#">shop now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content -->
{% endblock %}