{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}FabulousD | Home{% endblock %}

{% block content %}
	<div id="content">
			<div class="banner-slider">
				<div class="wrap-item">
					<div class="item" style='background:url("{% static 'images/home12/banner1.jpg' %}") no-repeat center top'>
						<img class="img-responsive" src="{% static 'images/home12/banner1.jpg' %}" alt="" />
						<div class="item-info-banner style-special">
							<h2>Fabulous Women Collection</h2>
							<label>Autumn 2016</label>
							<strong class="saleoff-banner">60 <span>% OFF</span></strong>
							<a href="#">Shop women</a>
						</div>
					</div>
					<div class="item" style='background:url("{% static 'images/home12/banner2.jpg' %}") no-repeat center top'>
						<img class="img-responsive" src="{% static 'images/home12/banner2.jpg' %}" alt="" />
						<div class="item-info-banner style-special">
							<h2>Fabulous Men fashion</h2>
							<label>Summner 2016</label>
							<strong class="saleoff-banner">50 <span>% OFF</span></strong>
							<a href="#">Shop women</a>
						</div>
					</div>
					<div class="item" style='background:url("{% static 'images/home12/banner3.jpg' %}") no-repeat center top'>
						<img class="img-responsive" src="{% static 'images/home12/banner3.jpg' %}" alt="" />
						<div class="item-info-banner style-normal">
							<h3><label>It’s my style</label></h3>
							<h2>Fabulous Kids Fashion</h2>
							<h3>Affordable design, Useable creativity</h3>
							<a href="#">Shop women</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End Banner Slider -->
			<div class="list-product-slider">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="product-slider single-slider single-arrow ">
								<h2 class="title-slider">special products</h2>
								<div class="sale-product-hightlight"><span>55% OFF</span></div>
								<div class="wrap-item">
									
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/special1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="" class="link-add-to-cart">Add To Cart</a>
													<a href="" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/new-arival1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="" class="link-add-to-cart">Add To Cart</a>
													<a href="" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/best-sale1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Special -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="product-slider single-slider single-arrow ">
								<h2 class="title-slider">new arrivals</h2>
								<div class="new-product-hightlight"><span>New</span></div>
								<div class="wrap-item">
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/new-arival1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/special1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/best-sale1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End New arival -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="product-slider single-slider single-arrow ">
								<h2 class="title-slider">best sellers</h2>
								<div class="sale-product-hightlight"><span>47% OFF</span></div>
								<div class="wrap-item">
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/best-sale1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/new-arival1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
									<div class="item">
										<div class="item-product">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/special1.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFit</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
												</div>
												<div class="product-extra-link">
													<a href="#" class="link-wishlist"><i class="fa fa-heart"></i></a>
													<a href="#" class="link-add-to-cart">Add To Cart</a>
													<a href="#" class="link-compare"><i class="fa fa-external-link-square"></i></a>
												</div>
											</div>
											<div class="info-product-price-view"><span>$1,058.00</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Best Sale -->
					</div>
				</div>
			</div>
			<!-- End Product Slider -->
			<div class="banner-adv">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="item-banner-adv light-gray">
								<div class="item-banner-adv-text">
									<h2>Shoes <span>for Men</span></h2>
									<a href="#">shop now</a>
								</div>
								<div class="item-banner-adv-image">
									<img src="{% static 'images/home12/adv1.png' %}" alt="" />
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="item-banner-adv gray">
								<div class="item-banner-adv-text">
									<h2>Bags <span>for woMen</span></h2>
									<a href="#">shop now</a>
								</div>
								<div class="item-banner-adv-image">
									<img src="{% static 'images/home12/adv2.png' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Banner Adv -->
			<div class="product-list-category-slider">
				<div class="container">
					<div class="title-tab-product-category">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#clothing" aria-controls="clothing" role="tab" data-toggle="tab">Clothing</a></li>
							<li role="presentation"><a href="#bags" aria-controls="bags" role="tab" data-toggle="tab">Bags</a></li>
							<li role="presentation"><a href="#shoes" aria-controls="shoes" role="tab" data-toggle="tab">Shoes</a></li>
							<li role="presentation"><a href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">Accessories</a></li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="category-adv-slider single-slider single-arrow">
								<h2 class="title-slider">for women’s</h2>
								<div class="wrap-item">
									<div class="item">
										<div class="item-category-adv">
											<a href="#" class="item-category-adv-link"><img src="{% static 'images/home12/cat1.png' %}" alt="" /></a>
											<p class="desc">Welcome to the world of fashion. We are proud to present. You can now adjust price </p>
											<a href="#" class="readmore">Shop Now</a>
										</div>
									</div>
									<div class="item">
										<div class="item-category-adv">
											<a href="#" class="item-category-adv-link"><img src="{% static 'images/home12/cat2.png' %}" alt="" /></a>
											<p class="desc">Welcome to the world of fashion. We are proud to present. You can now adjust price </p>
											<a href="#" class="readmore">Shop Now</a>
										</div>
									</div>
									<div class="item">
										<div class="item-category-adv">
											<a href="#" class="item-category-adv-link"><img src="{% static 'images/home12/cat3.png' %}" alt="" /></a>
											<p class="desc">Welcome to the world of fashion. We are proud to present. You can now adjust price </p>
											<a href="#" class="readmore">Shop Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="content-tab-product-category single-arrow">
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="clothing">
										<div class="wrap-item">
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab3.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="bags">
										<div class="wrap-item">
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab3.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="shoes">
										<div class="wrap-item">
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab3.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="accessories">
										<div class="wrap-item">
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab3.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab1.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="item-product">
													<div class="item-product-thumb">
														<a href="#"><img src="{% static 'images/home12/tab2.png' %}" alt="" /></a>
													</div>
													<div class="item-product-info">
														<h3 class="title-product"><a href="#">Chemise SLimFon</a></h3>
														<div class="info-product-price">
															<span>$45.99</span> <del>$69.71</del> <label class="persale">8%</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Category Slider -->
			<div class="news-scroll">
				<div class="container">
					<h2 class="title-news-scroll">latest news</h2>
					<div class="content-news-scroll">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-left">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news1.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-right">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news2.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-left">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news3.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-right">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news4.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-left">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news1.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-right">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news2.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-left">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news3.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="item-right">
									<div class="item-news">
										<div class="item-news-thumb">
											<div class="news-date"><i class="fa fa-calendar-check-o"></i> <span>18 Dec, 2016 </span></div>
											<a href="#" class="news-thumb-link">
												<img src="{% static 'images/home12/news4.png' %}" alt="" />
											</a>
										</div>
										<div class="item-news-info">
											<h3><a href="#">Quam tortor eleifend etE neque eget</a></h3>
											<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Etiam non neque eros cetquis benlater</p>
											<span>Jane Doe - Stylish Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End News Scroll -->
			<div class="list-product-slider">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="statistic-product-slider single-slider single-arrow">
								<h2 class="title-slider">Most viewed</h2>
								<div class="wrap-item">
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
								</div>
							</div>
						</div>
						<!-- End Most View -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="statistic-product-slider single-slider single-arrow">
								<h2 class="title-slider">Top Sellers</h2>
								<div class="wrap-item">
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>15 order</span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
								</div>
							</div>
						</div>
						<!-- End Top Seller -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="statistic-product-slider single-slider single-arrow">
								<h2 class="title-slider">Top Rate</h2>
								<div class="wrap-item">
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item">
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
										<div class="item-product item-product-list">
											<div class="item-product-thumb">
												<a href="#" class="item-product-link">
													<img src="{% static 'images/home12/product.png' %}" alt="" />
												</a>
											</div>
											<div class="item-product-info">
												<h3><a href="#">Chemise SLimFon</a></h3>
												<div class="info-product-price">
													<span>$45.99</span>
													<del>$69.71</del>
												</div>
												<div class="info-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="order-number">
													<span>6 Stars</span>
												</div>
											</div>
										</div>
									</div>
									<!-- End Item -->
								</div>
							</div>
						</div>
						<!-- End Top Rate -->
					</div>
				</div>
			</div>
			<!-- End Product Slider -->
			<div class="box-service">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="intro-service-box">
								<h2>MORE FEATURES OF</h2>
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque unde omnis iste natus error sit.</p>
								<a href="#">see more</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="list-service-box">
								<div class="item-service-box">
									<div class="icon-service-box yellow">
										<a href="#"><i class="fa fa-scissors"></i></a>
									</div>
									<div class="info-service-box">
										<h3><a href="#">design & cutting</a></h3>
										<p>Perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque unde omnis iste natus error sit</p>
									</div>
								</div>
								<div class="item-service-box">
									<div class="icon-service-box blue">
										<a href="#"><i class="fa fa-stack-overflow"></i></a>
									</div>
									<div class="info-service-box">
										<h3><a href="#">Garment processing</a></h3>
										<p>Perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque unde omnis iste natus error sit</p>
									</div>
								</div>
								<div class="item-service-box">
									<div class="icon-service-box red">
										<a href="#"><i class="fa fa-slack"></i></a>
									</div>
									<div class="info-service-box">
										<h3><a href="#">finished products</a></h3>
										<p>Perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque unde omnis iste natus error sit</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End List Service -->
			<div class="arrival-adv">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="new-arrival-slider">
								<div class="wrap-item">
									<div class="item">
										<div class="new-arrival-thumb">
											<a href="#"><img class="img-responsive" src="{% static 'images/home12/new1.png' %}" alt="" /></a>
										</div>
										<div class="new-arrival-info">
											<strong>new</strong>
											<span>arrivals</span>
											<a href="#">Shop now</a>
										</div>
									</div>
									<div class="item">
										<div class="new-arrival-thumb">
											<a href="#"><img class="img-responsive" src="{% static 'images/home12/new2.png' %}" alt="" /></a>
										</div>
										<div class="new-arrival-info">
											<strong>bags</strong>
											<span>Lepari</span>
											<a href="#">Shop now</a>
										</div>
									</div>
									<div class="item">
										<div class="new-arrival-thumb">
											<a href="#"><img class="img-responsive" src="{% static 'images/home12/new3.png' %}" alt="" /></a>
										</div>
										<div class="new-arrival-info style-spacial">
											<span>up to</span>
											<strong>30 <sup>% off</sup></strong>
											<a href="#">Shop now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End New Arrival SLider -->
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="banner-arival">
								<img class="img-responsive" src="{% static 'images/home12/girl-adv.png' %}" alt="" />
								<div class="banner-adv-info">
									<h4>Autumn Collection</h4>
									<h2>Fashion Show</h2>
									<h4>Design: Fanbong</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Arrival Advert -->
			<div class="service-support">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="item-service-support">
								<a href="#"><i class="fa fa-exchange"></i> 30 DAYS EXCHANGE POLICY</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="item-service-support">
								<a href="#"><i class="fa fa-truck"></i> FREE SHIPPING OVER $100</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="item-service-support">
								<a href="#"><i class="fa fa-phone"></i> 24/7 ONLINE SUPPORT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Service Support -->
			<div class="list-brand single-arrow">
				<div class="container">
					<div class="wrap-item">
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand1.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand2.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand3.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand4.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand1.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand2.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand3.png' %}" alt="" /></a>
							</div>
						</div>
						<div class="item">
							<div class="item-brand">
								<a href="#"><img src="{% static 'images/home12/brand4.png' %}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Partner -->
		</div>
		<!-- End Content -->

{% endblock %}