{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}FabulousD | Catalog{% endblock %}

{% block style %}

    <link type="text/css" href="{% static 'style/css/style-main.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sevillana"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" media="all"/>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'css/cart/boostrap.css' %}">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="{% static 'css/cart/font_awesome.css' %}">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="{% static 'css/cart/styles.css' %}">
    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="{% static 'css/ie.css' %}" />
<![endif]-->

    <!-- Your custom styles (blank file) -->
    <link rel="stylesheet" href="{% static 'css/cart/mystyles.css' %}">

{% endblock %}

{% block content %}
<br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    {% if empty %}
                        <h1>{{ empty_message }}</h1>
                    {% else %}
                        <table class="table cart-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Name</th>
                                    <th>QTY</th>
                                    <th>Price</th>
                                    <th>Variations</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.cartitem_set.all %}
                                    <tr>
                                        <td class="cart-item-image">
                                            <a href="{{ item.product.productimage_set.first.image.url }}">
                                                <img height="70" width="70" src="{{ item.product.productimage_set.first.image.url }}" alt="Image Alternative text" title="AMaze" />
                                            </a>
                                        </td>
                                        <td><a href="{% url 'products:product_detail' item.product.slug %}">{{ item.product }}</a>
                                        </td>
                                        <td> {{ item.quantity }} </td>
                                        <td>${{ item.product.price }}</td>
                                        <td>${{ item.variations.all }}</td>
                                        <td class="cart-item-remove">
                                            <a class="fa fa-times" href="{% url 'carts:remove_from_cart' item.id %}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>    <a href="#" class="btn btn-primary">Update the cart</a>
                    {% endif %}

                </div>
                <div class="col-md-3">
                    <ul class="cart-total-list">
                        <li><span>Sub Total</span><span>${{ cart.total_price }}</span>
                        </li>
                        <li><span>Shipping</span><span>$0.00</span>
                        </li>
                        <li><span>Taxes</span><span>$0.00</span>
                        </li>
                        <li><span>Total</span><span>${{ cart.total_price }}</span>
                        </li>
                    </ul>
                    <a href="{% url 'orders:check_out' %}" class="btn btn-primary btn-lg">Checkout</a>
                </div>
            </div>
            <div class="gap"></div>
        </div>

{% endblock %}


{% block js %}
        <!-- Scripts queries -->
        <script src="{% static 'js/cart/jquery.js' %}"></script>
        <script src="{% static 'js/cart/boostrap.min.js' %}"></script>
        <script src="{% static 'js/cart/countdown.min.js' %}"></script>
        <script src="{% static 'js/cart/flexnav.min.js' %}"></script>
        <script src="{% static 'js/cart/magnific.js' %}"></script>
        <script src="{% static 'js/cart/tweet.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{% static 'js/cart/fitvids.min.js' %}"></script>
        <script src="{% static 'js/cart/mail.min.js' %}"></script>
        <script src="{% static 'js/cart/ionrangeslider.js' %}"></script>
        <script src="{% static 'js/cart/icheck.js' %}"></script>
        <script src="{% static 'js/cart/fotorama.js' %}"></script>
        <script src="{% static 'js/cart/card-payment.js' %}"></script>
        <script src="{% static 'js/cart/owl-carousel.js' %}"></script>
        <script src="{% static 'js/cart/masonry.js' %}"></script>
        <script src="{% static 'js/cart/nicescroll.js' %}"></script>

{% endblock %}