{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}FabulousD | Catalog{% endblock %}

{% block style %}
	<link type="text/css" href="{% static 'style/css/style-main.css' %}" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sevillana"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" media="all"/>
{% endblock %}

{% block content %}
<br>
<div class="main-container col3-layout">
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="row">
								<div class="col-left sidebar col-lg-3 col-md-4 col-sm-4 col-xs-12">
									<div class="inner-left">
										<div class="block block-layered-nav">
											<div class="block-title">
												<strong><span>Shop By</span></strong>
											</div>
											<dl id="narrow-by-list">
												<dt class="first">Category</dt>
												<dd>
													<ol>
														<li><a href="#">Dresses</a></li>
														<li><a href="#">Jeans &amp; Trousers</a></li>
														<li><a href="#">Blouses &amp; Shirts</a></li>
														<li><a href="#">Tops &amp; T-Shirts</a></li>
														<li><a href="#">ackets &amp; Coats</a></li>
														<li><a href="#">Skirts</a></li>
													</ol>
												</dd>
												<dt>Price</dt>
												<dd class="block-price">
													<div class="price">
														<div class="range-wrap">
															<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range">
																<div style="left: 0%; width: 100%;" class="ui-slider-range ui-widget-header"></div>
																<a style="left: 0%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
																<a style="left: 100%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
															</div>
														</div>
														<div class="text-box">
															<div class="price-from"><span>$</span><input type="text" name="min" id="minPrice" class="priceTextBox pl" value="400"></div>
															<div class="price-to"><input type="text" name="max" id="maxPrice" class="priceTextBox pr" value="1000"></div>
															<a class="go" href="javascript:void(0)">Go</a>
														</div>
													</div>
												</dd>
												<dt>Color</dt>
												<dd class="block-color">
													<ol class="configurable-swatch-list">
														<li>
															<a href="grid.html?color=20" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/black.png' %}" alt="Black" title="Black">
															</span>
															<span class="count">(5)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=27" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/blue.png' %}" alt="Blue" title="Blue">
															</span>
															<span class="count">(1)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=221" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/brown.png' %}" alt="Brown" title="Brown">
															</span>
															<span class="count">(2)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=17" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/charcoal.png' %}" alt="Charcoal" title="Charcoal">
															</span>
															<span class="count">(3)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=19" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/orange.png' %}" alt="Cognac" title="Cognac">
															</span>
															<span class="count">(7)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=24" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/green.png' %}" alt="Green" title="Green">
															</span>
															<span class="count">(1)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=12" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/grey.png' %}" alt="Grey" title="Grey">
															</span>
															<span class="count">(1)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=26" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/indigo.png' %}" alt="Indigo" title="Indigo">
															</span>
															<span class="count">(5)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=13" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/ivory.png' %}" alt="Ivory" title="Ivory">
															</span>
															<span class="count">(2)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=21" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/pink.png' %}" alt="Pink" title="Pink">
															</span>
															<span class="count">(4)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=18" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/purple.png' %}" alt="Purple" title="Purple">
															</span>
															<span class="count">(1)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=14" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/taupe.png' %}" alt="Taupe" title="Taupe">
															</span>
															<span class="count">(1)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=22" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/white.png' %}" alt="White" title="White">
															</span>
															<span class="count">(3)</span>
															</a>
														</li>
														<li>
															<a href="grid.html?color=23" class="swatch-link has-image">
															<span class="swatch-label">
															<img width="36" height="16" src="{% static 'images/color/yellow.png' %}" alt="Yellow" title="Yellow">
															</span>
															<span class="count">(3)</span>
															</a>
														</li>
													</ol>
												</dd>
												<dt>Size</dt>
												<dd class="block-size"> 
												</dd>
												<dt>Brand</dt>
												<dd class="block-brand">
													<ol>
														<li><a href="#">Dresses</a></li>
														<li><a href="#">Jeans &amp; Trousers</a></li>
														<li><a href="#">Blouses &amp; Shirts</a></li>
														<li><a href="#">Tops &amp; T-Shirts</a></li>
														<li><a href="#">ackets &amp; Coats</a></li>
														<li><a href="#">Skirts</a></li>
													</ol>
												</dd>
												<dt>aterial</dt>
												<dd class="block-brand">
													<ol>
														<li><a href="#">Dresses</a></li>
														<li><a href="#">Jeans &amp; Trousers</a></li>
														<li><a href="#">Blouses &amp; Shirts</a></li>
														<li><a href="#">Tops &amp; T-Shirts</a></li>
														<li><a href="#">ackets &amp; Coats</a></li>
														<li><a href="#">Skirts</a></li>
													</ol>
												</dd>
											</dl>
										</div>
										<div class="block block-special vt-slider">
											<div class="slider-inner">
												<div class="block-title">
													<strong>
													<span>Special products</span>
													</strong>
												</div>
												<div class="container-slider">
													<div class="wrap-item">
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/2.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/2.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/4.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/4.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/14.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/14.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/13.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/13.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/7.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/7.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->
														<div class="item">
															<div class="inner">
																<div class="item-image">
																	<div class="item-image-inner">
																		 <a class="product-image" href="detail.html">
																		<img src="{% static 'images/photo/5.png' %}" alt="">
																		</a>
																	</div>
																</div>
																<div class="subitem">
																	<div class="subitem-image">
																		<div class="item-image-inner">
																			 <a class="product-image" href="detail.html">
																			<img src="{% static 'images/photo/5.png' %}" alt="">
																			</a>
																			<div class="item-btn">
																				<div class="btn-wqc">
																					<a href="#" class="link-wishlist"></a>
																					<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																					<a href="#" class="link-compare"></a>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="product-info">
																		<div class="product-name">
																			<a href="detail.html">Cotton Lycra Leggings</a>
																		</div>
																		<div class="cate-name">
																			<a href="#">Men</a>
																		</div>
																		<div class="rating">
																			<div class="ratings">
																				<div class="rating-box">
																					<div class="rating" style="width:80%"></div>
																				</div>
																			</div>
																		</div>
																		<div class="wrap-ns-price">
																			<div class="price-box">
																				<p class="special-price">
																					<span class="price">$500</span>
																				</p>
																				<p class="old-price">
																					<span class="price">$200</span>
																				</p>
																			</div>
																			<div class="wrap-new-sale">
																				<div class="sale-item">60%</div>
																				<div class="new-item">new</div>
																			</div>
																		</div>
																		<button class="btn-cart"><span>Buy</span></button>
																	</div>
																	<!--end product-info-->
																</div>
																<!--end subitem-->
															</div>
														</div>
														<!--end item-->						
													</div>
													<!--wrap-item-->
												</div>
												<!--container-slider-->	
											</div>
											<!--slider-inner-->	
										</div>
										<!--block-special-->										
									</div>
								</div>
								<div class="col-main col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<div class="row">
										<div class="box-breadcrumbs col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="breadcrumbs">
												<ul>
													<li class="home">
														<a href="#" title="Go to Home Page">Home</a>
														<span>|</span>
													</li>
													<li>
														<a href="#">Category Demo</a>
														<span>|</span>
													</li>
													<li class="category4">
														<strong>Beauty &amp; Perfumes</strong>
													</li>
												</ul>
											</div>
										</div>
										<div class="block-tag">
											<label>Hot Tag</label>
											<a href="#"><span>Sexy</span></a>
											<a href="#"><span>Casual</span></a>
											<a href="#"><span>Slim</span></a>
											<a href="#"><span>Sleeveless</span></a>
											<a href="#"><span>Lace</span></a>
											<a href="#"><span>Chiffon</span></a>
											<a href="#"><span>Black</span></a>
											<a href="#"><span>White</span></a>
											<a href="#"><span>Sleeveless</span></a>
											<a href="#"><span>Slim</span></a>
											<a href="#"><span>Chiffon</span></a>
											<a href="#"><span>Lace</span></a>
											<a href="#"><span>Sexy</span></a>
											<a href="#"><span>Casual</span></a>
											<a href="#"><span>Black</span></a>
											<a href="#"><span>Slim</span></a>	
											<span class="open-item closetag">open</span>
										</div>								
										<!--<div class="category-title">
											<h1>Auto Accessories</h1>
											</div>-->
										<div id="catalog-listing">
											<div class="category-products pro-list">
												<div class="toolbar-top">
													<div class="toolbar col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="box-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="sort-by col-lg-8 col-md-8 col-sm-8 col-xs-12">
																<ul class="select-order">
																	<li><a href="#auto-accessories.html?dir=asc&amp;order=position" class="selected">Position</a></li>
																	<li><a href="#auto-accessories.html?dir=asc&amp;order=name">Name</a></li>
																	<li><a href="#auto-accessories.html?dir=asc&amp;order=price">Price</a></li>
																	<li><a class="desc" href="#auto-accessories.html?dir=desc&amp;order=position" title="Set Descending Direction"></a></li>
																</ul>
															</div>
															<div class="view-mode col-lg-4 col-md-4 col-sm-4 col-xs-12">
																<div class="inner">
																	<label>View as</label>
																	<!--<p class="view-mode">
																		<strong class="grid" title="Grid">Grid</strong>
																		<a class="list" title="List" href="#auto-accessories.html?mode=list">List</a>&nbsp;
																		</p>-->
																	<span class="btn-view-mode">
																	<a href="grid.html" title="List" class="grid">List</a>
																	<a href="list.html" class="list">Grid</a>
																	</span>
																</div>
															</div>
														</div>
														<div class="box-bottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="limiter col-lg-3 col-md-3 col-sm-3 col-xs-12">
																<div class="limiter-inner">
																	<span>Show</span>
																	<div class="wrap-show">
																		<div class="selected-limiter">12</div>
																		<ul class="select-limiter">
																			<li><a href="#auto-accessories.html?limit=12" class="selected">12</a></li>
																			<li><a href="#auto-accessories.html?limit=24">24</a></li>
																			<li><a href="#auto-accessories.html?limit=36">36</a></li>
																		</ul>
																	</div>
																	<label class="stylepp">per page</label>
																</div>
															</div>
															<div class="pager col-lg-6 col-md-6 col-sm-5 col-xs-12">
																<p class="amount">
																	Items 1 to 12 of 16 total                    
																</p>
																<div class="pages">
																	<strong>Pages</strong>
																	<ol>
																		<li class="current">1</li>
																		<li><a href="#auto-accessories.html?p=2">2</a></li>
																		<li>
																			<a class="next i-next" href="#auto-accessories.html?p=2" title="Next">Next</a>
																		</li>
																	</ol>
																</div>
															</div>
															<!--end pages-->
															<div class="go-to-page col-lg-3 col-md-3 col-sm-4 col-xs-12">
																<div class="inner">
																	<label>Go to page:</label>
																	<form action="#">
																		<input type="text" id="gotopage1" name="p" value="1">
																		<input type="submit" class="button" id="btnpage1" value="Go" name="subpage">
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
												<ol class="products-list">
													{% for item in result %}
													<li class="item">
														<div class="inner">
															<div class="item-image">
																<div class="item-image-inner">
																	 <a class="product-image" href="detail.html">
																	 <div style="height: 250px; width: 180px;
																	background-image: url('{{ item.productimage_set.all.first.image.url }}');
																	background-repeat: no-repeat;
																	background-size: cover;
																	background-position: center;
																	margin: 0 auto;"  > 
																		
																	</div>
																	<!-- <img src="{{ item.productimage_set.all.first.image.url }}" alt=""> -->
																	</a>                             
																	<div class="item-btn">
																		<div class="btn-wqc">
																			<a href="#" class="link-wishlist"></a>
																			<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																			<a href="#" class="link-compare"></a>
																		</div>
																	</div>
																</div>
															</div>
															<div class="product-info">
																<div class="product-name">
																	<a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
																</div>
																<div class="cate-name">
																	<a href="#">Men</a>
																</div>
																<div class="rating">
																	<div class="ratings">
																		<div class="rating-box">
																			<div class="rating" style="width:80%"></div>
																		</div>
																	</div>
																	<p class="rating-links">
																		<a href="#">1 (vote)</a>
																		<span class="separator">|</span>
																		<a class="re-temp" href="">Add Review</a>
																	</p>
																</div>
																<div class="wrap-ns-price">
																	<div class="price-box">
																		<p class="special-price">
																			<span class="price">${{ item.price }}</span>
																		</p>
																		<p class="old-price">
																			<span class="price">${{ item.sale_price }}</span>
																		</p>
																	</div>
																	<div class="wrap-new-sale">
																		<div class="sale-item">60%</div>
																		<div class="new-item">new</div>
																	</div>
																</div>
																<div class="desc">
																	<p>{{ item.description }}</p>
																</div>
																<a class="button" href="{{ item.get_absolute_url }}">Shop now</a>
																<div class="box-qty-btncart">
																	<button class="btn-cart"><span>Add To Cart</span></button>
																	<div class="box-qty" >
																		<div class="flycart_qty_edit">
																			<a class="flycart-qty-btn left" href="#">down</a>
																			<input type="text" class="input-text qty flycart-qty"  value="1">
																			<a class="flycart-qty-btn right" href="#">up</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!--end inner -->                 
													</li>
													{% endfor %}
													<li class="item">
														<div class="inner">
															<div class="item-image">
																<div class="item-image-inner">
																	 <a class="product-image" href="detail.html">
																	<img src="{% static 'images/photo/14.png' %}" alt="">
																	</a>                             
																	<div class="item-btn">
																		<div class="btn-wqc">
																			<a href="#" class="link-wishlist"></a>
																			<a class="vt_quickview_handler" href="#"><span>Quick View</span></a>
																			<a href="#" class="link-compare"></a>
																		</div>
																	</div>
																</div>
															</div>
															<div class="product-info">
																<div class="product-name">
																	<a href="detail.html">Cotton Lycra Leggings</a>
																</div>
																<div class="cate-name">
																	<a href="#">Men</a>
																</div>
																<div class="rating">
																	<div class="ratings">
																		<div class="rating-box">
																			<div class="rating" style="width:80%"></div>
																		</div>
																	</div>
																	<p class="rating-links">
																		<a href="#">1 (vote)</a>
																		<span class="separator">|</span>
																		<a class="re-temp" href="">Add Review</a>
																	</p>
																</div>
																<div class="wrap-ns-price">
																	<div class="price-box">
																		<p class="special-price">
																			<span class="price">$500</span>
																		</p>
																		<p class="old-price">
																			<span class="price">$200</span>
																		</p>
																	</div>
																	<div class="wrap-new-sale">
																		<div class="sale-item">60%</div>
																		<div class="new-item">new</div>
																	</div>
																</div>
																<div class="desc">
																	Lorem Ipsum has been the industry's standard dummy text ever since <br>
																	the 1500s been the industry's standard dummy text ever since been <br>
																	the industry's standard dummy text ever since 
																</div>
																<a class="button" href="#">Shop now</a>
																<div class="box-qty-btncart">
																	<button class="btn-cart"><span>Add To Cart</span></button>
																	<div class="box-qty" >
																		<div class="flycart_qty_edit">
																			<a class="flycart-qty-btn left" href="#">down</a>
																			<input type="text" class="input-text qty flycart-qty"  value="1">
																			<a class="flycart-qty-btn right" href="#">up</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!--end inner -->                 
													</li>
													<!--end item -->
												</ol>
											</div>
										</div>							
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
{% endblock %}

{% block js %}

<script src="{% static 'js/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery/jquery-noconflict.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.plugin.js' %}" type="text/javascript"></script>
<script src="{% static 'js/TimeCircles.js' %}" type="text/javascript"></script> 
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/theme2.js' %}" type="text/javascript"></script>

{% endblock %}
